In [1]:
import pandas as pd
import glob
from shutil import copyfile

In [2]:
df=pd.read_csv('SPEAKERS.csv')
df.head(5)

   ID SEX           SUBSET  MINUTES             NAME
0  14   F  train-clean-360    25.03   KristinLeMoine
1  16   F  train-clean-360    25.11    AlysAtteWater
2  17   M  train-clean-360    25.04    GordMackenzie
3  19   F  train-clean-100    25.19  KaraShallenberg
4  20   F  train-other-500    30.07           Gesine

In [3]:
list_of_IDs=glob.glob("dev-clean/*")

In [28]:
d={}
M_dest=''
F_dest=''
c_M=0
c_F=0
for l in list_of_IDs:
    pid=l.split('\\')[1]
    if df.loc[df['ID'] == int(pid)].SEX.values=='M':
        d[str(l)]='M'
        c_M+=1
    if df.loc[df['ID'] == int(pid)].SEX.values=='F':
        d[str(l)]='F'
        c_F+=1
#     copyfile(src, dst)

In [30]:
print(c_M,c_F)

20 20

In [5]:
d

{}